<html>
<head>
<meta charset="UTF-8">
<title>Output</title>
<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css". >
<style>
body
{

background-image:url("https://www.chetu.com/img/banking/online-banking/sliderbg/online-banking-banner.jpg");
background-size:cover;
}
</style>
</head>
<body>
    <h1><center>AI BASED DISCOURSE FOR BANKING INDUSTRY</center></h1>
    <script>
        window.watsonAssistantChatOptions = {
          integrationID: "db404437-2b4b-403b-af99-3550dc8f7e23", // The ID of this integration.
          region: "au-syd", // The region your integration is hosted in.
          serviceInstanceID: "a7b88ace-17fe-4c21-8e96-9cdab0e20df1", // The ID of your service instance.
          onLoad: function(instance) { instance.render(); }
        };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
          document.head.appendChild(t);
        });
      </script>
      
</body>
</html>